

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini



# Thumbnails
._*


### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Gradle ###
# Exclude Folder List #
.gradle/
build/


### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### Maven ###
target/

/bin

